.category-main-page{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

.catagory-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76px;
}

.category-head-main{
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: #333333  ;
}

.category-head-extra{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
}

.category-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 20px;
}

.category img{
    width: 381px;
    height: 480px;
}

.category p{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}